In [3]:
class Emp():
    def __init__(self,emp_name:str,age:int):
        self.emp_name = emp_name
        self.age = age

In [4]:
employee = Emp("Rohan",22)

In [6]:
employee.emp_name, employee.age

('Rohan', 22)

In [7]:
from dataclasses import dataclass

In [8]:
@dataclass
class Employee():
    emp_name:str
    age:int

In [9]:
emp = Employee(emp_name="Rohan",age=22)

In [11]:
emp.emp_name, emp.age

('Rohan', 22)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("aps_failure_training_set1.csv")

In [4]:
data.head()

  class  aa_000 ab_000 ac_000 ad_000  ...  ee_007  ee_008 ee_009 ef_000 eg_000
0   pos  153204      0    182     na  ...       0       0      0      0      0
1   pos  453236     na   2926     na  ...  533834  493800   6914      0      0
2   pos   72504     na   1594   1052  ...  284178    3742      0      0      0
3   pos  762958     na     na     na  ...      na      na     na     na     na
4   pos  695994     na     na     na  ...     212       0      0     na     na

[5 rows x 171 columns]

In [21]:
drop_col_name=[]
for column_name,missing_prec in zip((data.isna().sum()/data.shape[0]).index, (data.isna().sum()/data.shape[0]).values):
    print(column_name,missing_prec*100)
    if missing_prec > 0.3:
        drop_col_name.append(column_name)

class 0.0
aa_000 0.0
ab_000 0.0
ac_000 0.0
ad_000 0.0
ae_000 0.0
af_000 0.0
ag_000 0.0
ag_001 0.0
ag_002 0.0
ag_003 0.0
ag_004 0.0
ag_005 0.0
ag_006 0.0
ag_007 0.0
ag_008 0.0
ag_009 0.0
ah_000 0.0
ai_000 0.0
aj_000 0.0
ak_000 0.0
al_000 0.0
am_0 0.0
an_000 0.0
ao_000 0.0
ap_000 0.0
aq_000 0.0
ar_000 0.0
as_000 0.0
at_000 0.0
au_000 0.0
av_000 0.0
ax_000 0.0
ay_000 0.0
ay_001 0.0
ay_002 0.0
ay_003 0.0
ay_004 0.0
ay_005 0.0
ay_006 0.0
ay_007 0.0
ay_008 0.0
ay_009 0.0
az_000 0.0
az_001 0.0
az_002 0.0
az_003 0.0
az_004 0.0
az_005 0.0
az_006 0.0
az_007 0.0
az_008 0.0
az_009 0.0
ba_000 0.0
ba_001 0.0
ba_002 0.0
ba_003 0.0
ba_004 0.0
ba_005 0.0
ba_006 0.0
ba_007 0.0
ba_008 0.0
ba_009 0.0
bb_000 0.0
bc_000 0.0
bd_000 0.0
be_000 0.0
bf_000 0.0
bg_000 0.0
bh_000 0.0
bi_000 0.0
bj_000 0.0
bk_000 0.0
bl_000 0.0
bm_000 0.0
bn_000 0.0
bo_000 0.0
bp_000 0.0
bq_000 0.0
br_000 0.0
bs_000 0.0
bt_000 0.0
bu_000 0.0
bv_000 0.0
bx_000 0.0
by_000 0.0
bz_000 0.0
ca_000 0.0
cb_000 0.0
cc_000 0.0
cd_000 0.0
ce_000 0.0
cf_000 0.0
cg_000 0.0
ch_000 0.0
ci_000 0.0
cj_000 0.0
ck_000 0.0
cl_000 0.0
cm_000 0.0
cn_000 0.0
cn_001 0.0
cn_002 0.0
cn_003 0.0
cn_004 0.0
cn_005 0.0
cn_006 0.0
cn_007 0.0
cn_008 0.0
cn_009 0.0
co_000 0.0
cp_000 0.0
cq_000 0.0
cr_000 0.0
cs_000 0.0
cs_001 0.0
cs_002 0.0
cs_003 0.0
cs_004 0.0
cs_005 0.0
cs_006 0.0
cs_007 0.0
cs_008 0.0
cs_009 0.0
ct_000 0.0
cu_000 0.0
cv_000 0.0
cx_000 0.0
cy_000 0.0
cz_000 0.0
da_000 0.0
db_000 0.0
dc_000 0.0
dd_000 0.0
de_000 0.0
df_000 0.0
dg_000 0.0
dh_000 0.0
di_000 0.0
dj_000 0.0
dk_000 0.0
dl_000 0.0
dm_000 0.0
dn_000 0.0
do_000 0.0
dp_000 0.0
dq_000 0.0
dr_000 0.0
ds_000 0.0
dt_000 0.0
du_000 0.0
dv_000 0.0
dx_000 0.0
dy_000 0.0
dz_000 0.0
ea_000 0.0
eb_000 0.0
ec_00 0.0
ed_000 0.0
ee_000 0.0
ee_001 0.0
ee_002 0.0
ee_003 0.0
ee_004 0.0
ee_005 0.0
ee_006 0.0
ee_007 0.0
ee_008 0.0
ee_009 0.0
ef_000 0.0
eg_000 0.0

In [22]:
drop_col_name

[]